* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #111827;
}

#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #111827;
}

.form {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 32px;
    background-color: #1F2937;
    border: 1px solid #374151;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}

.input-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 10px;
    background-color: #1F2937;
}

.inputBox {
    display: flex;
    background-color: #1F2937;
    flex-direction: column;
    width: 100%;
    gap: 4px;
}

.label {
    font-weight: normal;
    font-size: 14px;
    color: #E5E7EB;
    background-color: transparent;
}

.input {
    display: flex;
    padding: 12px;
    border: 1px solid #4B5563;
    width: 100%;
    outline: none;
    overflow: hidden;
    background-color: #111827;
    border-radius: 4px;
    color: #F3F4F6;
}

.input:focus-within {
    border-color: #2f2ee9;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;

}
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.buttonBox {
    display: flex;
    gap: 14px;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
}

.buttonSend {
    padding: 10px 22px;
    border-radius: 6px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #2f2ee9;
    text-decoration: none;
    transition: 0.2s;
    font-size: 14px;
}

.buttonSend:hover {
    opacity: 0.9;
}

.buttonList {
    padding: 8px 20px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #4B5563;
    text-decoration: none;
    transition: 0.2s;
    font-size: 14px;
}

.buttonList:hover {
    background-color: #111827;
}

#main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #111827;
}

.box {
    display: flex;
    width: 100%;
    padding: 25px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    border-radius: 8px;
    background-color: #1F2937;
    border: 1px solid #374151;
}

.infoBox {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 12px;
    gap: 4px;
    align-items: center;

    border-radius: 8px;
    background-color: #1F2937;
    border: 1px solid #374151;
}

.user-info {
    font-weight: lighter;
    font-size: 12px;
    color: #E5E7EB;
    background-color: transparent;
}

#id {
    display: none;
}